body {
  background: url(http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg) no-repeat center center fixed;
}

#container{
  width: 100%;
  height: 33%;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#imageContainer{
  width: 100%;
  height: 70%;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:auto;
  white-space:nowrap;

}

/*TODO fix positioning of images*/
img{
  display: inline;
  margin-top: 50px;
  position: relative;
  padding:10px;
  clear: right;
  float: none;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}

#imageContainer .active{
  margin: auto;
  overflow: auto;
  display: inline;
  height:100%;
  /*background-color: blue;*/
  z-index: 1;
}

.active img{
  transform: scale(1.25);
  /*background-color: red;*/
}

.active h2{
  color:white;
  font-size: 20px;
  display:inline-block;
  position: absolute;
  padding-top: 10px;
  text-align: center;
  /*background-color: yellow;*/
  /*margin-bottom: 200px;*/
}

#imageContainer .active h4{
  color:white;
  font-size: 16px;
  position: absolute;
  padding-top: 160px;
  text-align: center;
  /*background-color: green;*/
}
